<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>

    <settings>
        <!-- 开启驼峰命名法则 -->
        <setting name="mapUnderscoreToCamelCase" value="true" />
    </settings>
    <!-- 定义别名,需要定义在plugins前 -->
    <!--<typeAliases>-->
        <!--&lt;!&ndash; 定义模块实体别名 &ndash;&gt;-->
        <!--<typeAlias type="com.shenaibao.manage.product.model.module.Module" alias="module"/>-->
        <!--&lt;!&ndash; 定义视频实体别名 &ndash;&gt;-->
        <!--<typeAlias type="com.shenaibao.manage.product.model.video.Video" alias="video"/>-->
        <!--&lt;!&ndash; 定义视频点赞实体别名 &ndash;&gt;-->
        <!--<typeAlias type="com.shenaibao.manage.product.model.video.VideoGood" alias="videoGood"/>-->
        <!--&lt;!&ndash; 定义评论实体别名 &ndash;&gt;-->
        <!--<typeAlias type="com.shenaibao.manage.product.model.video.Comment" alias="comment" />-->
        <!--&lt;!&ndash; 定义评论点赞实体别名 &ndash;&gt;-->
        <!--<typeAlias type="com.shenaibao.manage.product.model.video.CommentGood" alias="commentGood"/>-->
        <!--&lt;!&ndash; 定义产品模块别名 &ndash;&gt;-->
        <!--<typeAlias type="com.shenaibao.manage.product.model.productmodule.ProductModule" alias="productModule"/>-->
    <!--</typeAliases>-->

    <plugins>
        <plugin interceptor="com.github.pagehelper.PageInterceptor">
            <!-- 支持通过Mapper接口参数来传递分页参数 -->
            <property name="helperDialect" value="mysql"/>
            <property name="supportMethodsArguments" value="true"/>
            <property name="rowBoundsWithCount" value="true"/>
            <!-- 分页合理化参数，设置为true时，pageNum<=0查第一页，pageNum>pages(超过总数时查最后一页) -->
            <property name="reasonable" value="true"/>
        </plugin>
    </plugins>

</configuration>